<mat-toolbar class="footer-toolbar" color="primary">
  <div class="footer-content">
    <span class="footer-left">© 2025 Tera Bank</span>

    <div class="footer-right">
      <a href="#" aria-label="Facebook" mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="#" aria-label="Instagram" mat-icon-button>
        <mat-icon>linkedin</mat-icon>
      </a>
      <a href="#" aria-label="GitHub" mat-icon-button>
        <mat-icon>code</mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>
