<mat-toolbar class="footer-toolbar" color="primary">
  <div class="footer-content">
    <span class="footer-left">© 2025 Tera Bank</span>

    <div class="footer-right">
      <a href="https://www.facebook.com/terabank/?locale=ka_GE" target="_blank" aria-label="Facebook" mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://www.linkedin.com/company/terabank/?originalSubdomain=ge" target="_blank" aria-label="LinkedIn" mat-icon-button>
        <mat-icon>linkedin</mat-icon>
      </a>
      <a href="https://terabank.ge/ka/retail" target="_blank" aria-label="Internet Bank" mat-icon-button>
        <mat-icon>language</mat-icon> <!-- 'language' is commonly used for websites or portals -->
      </a>
    </div>
  </div>
</mat-toolbar>
