<div class="px-6 pt-6 pb-4 w-full max-w-md">
  <h2 class="text-lg mb-2" mat-dialog-title>Edit User</h2>
  <mat-divider></mat-divider>

  <form (ngSubmit)="save()" [formGroup]="form" class="pt-6 space-y-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="user">User</mat-option>
        <mat-option value="admin">Admin</mat-option>
      </mat-select>

      @if (!isAdmin()) {
        <mat-hint class="text-red-500">*Only admins can change the role</mat-hint>
      }
    </mat-form-field>

    <div class="flex flex-col gap-2 mt-6">
      <button color="primary" mat-flat-button type="submit">Save</button>
      <button (click)="close()" class="w-full" mat-stroked-button type="button">Cancel</button>
    </div>
  </form>
</div>
